html{
    width: 100%;
    margin:-10px;
}

body{
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    background: linear-gradient(rgb(90, 217, 145),#d42b9882);
}
main{
    display: block;
}

h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    
    
}
h4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#c3277dcc;

}
ul{
    list-style: none;
}
.listdesc{
    
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;


}

  
  .info-item {
    width: 50%;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .info-list li span {
    margin-left: 0.5rem;
  }


p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 58.5rem;
}
header{
    position: fixed;
  width: 100%;
  left: 0;
  background: cadetblue;
  z-index: 10;
}
.wrapper{
    width: 100%;
    max-width: 936px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{

    font-family:Arial, Helvetica, sans-serif;
    padding: 1rem;
  background: darkslategrey;
  color: aliceblue;
  

}
a{
    text-decoration: none;
}
.navigation{

    display: flex;
    align-items: flex-end;
    padding-left: 0;
    float: right;
}
.navbtn{

    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    float: right;
    padding-left: 1rem;
    list-style-type: none;
   
}
.navigation li {
    padding-left: 1rem;
  }
  
  .navigation li:first-child {
    padding-left: 0;
  }
  
  .navigation li a {
    padding-bottom: 0.2rem;
    color: white;
    transition: all 0.4s;
  }
  
  .navigation li a:hover {
    color: darkslategray;
    transition: all 0.4s;
  }
  
  
.caption{

    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 0.5rem 1rem;
    color: white;
    background: black;

}
.current-slide{
    position: relative;
}
.roomsample {
    display: flex;
    justify-content:space-between;
    margin-left: -40px;
    margin-top:5px;
}
.current::after{
    background: rgba(0, 0,0, 0);
}
.current:hover::after {
    background: rgba(0, 0, 0, 0);
  }
.rooms{

    width: 24.6%;
    position: relative;
    cursor:pointer;
}
.rooms::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
  }
  .rooms:hover::after {
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
  }
img {
    width: 100%;
    height: auto;
  }

  .current::after {
    background: rgba(0, 0, 0, 0);
  }
  
  .current:hover::after {
    background: rgba(0, 0, 0, 0);
  }
  .btnsub{
    width: 33.33333%;
    border: none;
    display: block;
    padding: 0.5rem 1rem;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    opacity: 1;
  
  }
  .btnsub::hover {
    opacity: 0.9;
  }
  
.input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1rem;
}
address{
  font-style: normal;
}

hr{
  color: white;
}